huggingface/transformers/models--gpt2-large/snapshots/32b71b12589c2f8d625668d2335a01cac3249519/model.safetensors
huggingface/transformers/models--Salesforce--blip-image-captioning-base/snapshots/82a37760796d32b1411fe092ab5d4e227313294b/pytorch_model.bin
huggingface/transformers/models--Salesforce--blip-image-captioning-base/snapshots/c39c905a1ac68f0ee42ce3b85d8d983b16d884a7/model.safetensors

/Birdgame/savedata - Copy.csv

/Lessons/lesson1 strings and collections.py
/Lessons/lesson2 functions.py
/Lessons/lesson3 conditionals and loops.py
/Lessons/lesson4 modules.py
/Lessons/lesson5 classes.py
/Lessons/lesson6 files.py
/Lessons/lesson7 JSON.py
/Lessons/myfile.txt
/Lessons/
